* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background: linear-gradient(#333, rgb(14 116 144));
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

h4 {
  font-size: 1.5rem;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.loading {
  width: 50px;
  height: 50px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-left-color: rgb(14 116 144);

  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error {
  color: rgb(190 18 60);
}

.amount {
  width: fit-content;
  color: rgb(14 116 144);
}

.amount span,
.result span {
  color: #333;
  font-size: 1rem;
  margin-right: 10px;
  font-weight: 400;
}

.amount small,
.result small {
  color: #333;
  margin: 2%;
  font-size: 0.9rem;
  font-style: italic;
  font-weight: 400;
}

.result {
  width: fit-content;
  color: rgb(14 116 144);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
