.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.selector {
  width: 100%;
  max-width: 400px;
  min-width: 400px;
  margin: 2%;
  padding: 0%;
  font-size: 18px;
}

.selector input {
  height: 35px;
}

/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}

@media (prefers-color-scheme: dark) {
}
